table[border="1"] {
border-collapse:collapse;
font:normal 12px Verdana,Arial,Sans-Serif;
color:#333;
}
table[border="1"] tr {
background:#F0F0F0;
}
table[border="1"] th, table[border="1"] td {
vertical-align:top;
padding:5px 10px;
border:2px solid #fff;
}
table[border="1"] tr:nth-child(even) {
background:#DEDEDE;
}
table[border="1"] th {
background:#16163D;
border-radius: 0px 0px 0px 0px; 
-moz-border-radius: 0px 0px 0px 0px; 
-webkit-border-radius: 0px 0px 0px 0px;
color:#fff;
font-weight:bold;
}